@model IListVM
@{
    Layout = "_LayoutAdmin";
}

@await Component.InvokeAsync(nameof(BreadcrumbComponent), new { vm = Model.Breadcrumb })

<h1>@Model.GetH1()</h1>

@if (Model.Error != null)
{
    @await Component.InvokeAsync(nameof(AlertComponent), new { vm = new AlertVM("<pre>" + Model.Error.ToString() + "</pre>") });
}
@Html.Partial("Admin/Filter/_Filter", Model.Form)

@if (Model.Items != null)
{
    foreach (var i in Model.Items)
    {
    <div>
        @i.ToJson()
    </div>
    }
}
<a href="@Url.RouteUrlWithCulture("Admin", new { controller="Menus", action="Edit" })">Menus admin</a>

<div class="alert alert-info">
    @Localizer.Localize("common.error.len", 100, 50)
</div>
@* -------------------------------------------------------------------------------------------- *@
@section left
{
    @Html.Partial("Admin/_LeftMenu", Model.LeftMenu)
}
@section navbar
{
    @Html.Partial("Admin/_NavBar")
}
