@model IField
@{ 
    var options = Model.GetOptions();
    if (options.Count <= 1)
    {
        return;
    }
}
<div class="form-group">
    <label for="filter-@Model.PropertyName">@Model.Title</label>
    <select name="@Model.PropertyName" class="form-control" id="filter-@Model.PropertyName">
        @foreach (var option in options)
        {
            <!option @option.Selected value="@option.Value">@Html.Raw(option.Title)</!option>
        }
    </select>
</div>