<!DOCTYPE html>
<html>
<head>
    @Html.Partial("Admin/_Meta")

    @Html.Partial("Admin/_Styles")
    @RenderSection("styles", required: false)
</head>
<body>
    @Html.Partial("Admin/_NavBar")
    <div class="container body-content">
        @RenderBody()
        @Html.Partial("Admin/_Footer")    
    </div>

    @Html.Partial("Admin/_Scripts")
    @RenderSection("scripts", required: false)
</body>
</html>
