<!DOCTYPE html>
<html>
<head>
    @Html.Partial("Admin/_Meta")

    @Html.Partial("Admin/_Styles")
    @RenderSection("styles", required: false)
</head>
<body>
    @RenderSection("navbar", required: false)

    <div class="container body-content">
        @if (IsSectionDefined("left"))
        {
            <div class="row">
                <div class="col-md-2">
                    @RenderSection("left", required: false)
                </div>
                <div class="col-md-10">
                    @RenderBody()
                </div>
            </div>
        }
        else
        {
            @RenderBody()
        }

        @Html.Partial("Admin/_Footer")
    </div>

    @Html.Partial("Admin/_Scripts")
    @RenderSection("scripts", required: false)
</body>
</html>
